
.reveal .slides::after {
    content: "";
    background-image: url("../images/osp_logo_rgba70.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right top;
    opacity: 0.5;
    top: -35px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.reveal section.title h1, .reveal section h2 {
    color: #e11f1f;
    text-transform: none;
}

.reveal .with_img h2  {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    padding: 5px 20px;
    text-transform: none;
    background-color: rgb(255 255 255 / 70%);
    border-radius: 15px;
    box-shadow: 0 0 60px white;
}    
.reveal .with_img img  {
    box-shadow: none;
}
.reveal section img { border: none; }
.reveal h1 { font-size: 1.2em; }
.reveal h2 { font-size: 1em; }
.reveal dt { font-size: 80%; }
.reveal .paragraph { text-align: left; }
.reveal p { font-size: 80%; }
.reveal .small { font-size: 70%; }

.left { float: left; }
.right { float: right; }
.w70p { width: 70%; }
.float-group:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
 }

.admonitionblock.note .icon {  background-color: #efc; }
.admonitionblock.note .content {  background-color: #efe; color: #050; font-size: 90%;}
.admonitionblock.important { color: #e11f1f; background-color: antiquewhite;}
.listingblock .title { font-size: 16pt;}
